html {
	font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
	font-family: 'Nerko One', cursive; /* this should be the rest of the output you got from Google fonts */
	background-color: #c5c039;
}

body {
	width: 750px;
	margin: 0 auto;
	background-color: #ff9500;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #00539f;
	text-shadow: 3px 3px 1px black;
}

h2,
h3,
h4 {
	font-size: 32px;
}

p,
li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

#sample-id {
	color: green;
}

.aqua-ghost-class {
	color: aqua;
}

a:hover {
	color: black; /* Text color turns black only when hovering over it with the mouse */
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 50%;
	max-height: 1080px;
	max-width: 1920px;
}
